* {
    background-color: rgb(128, 240, 31);
}

.header {
    font-family: "Times New Roman", sans-serif;    
    font-size: 46px;
    font-weight: bold;
    background-color: rgb(255, 128, 0);
    color: white;
}

.description,.ingredients,.steps {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.description {
    font-size: 18px;
}

.ingredients {


}

.steps {

}

.header-2 {

}